<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd   
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd 
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd   
       http://www.springframework.org/schema/tx   
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<aop:aspectj-autoproxy/>
       
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- The IoHandler implementation -->
	<bean id="serverHandler" class="com.krakentouch.server.handler.ServerHandler">
		<property name="userService" ref="userService"></property>
		<property name="mainAction" ref="mainAction"></property>
	</bean>

	<!-- executorFilter多线程处理 -->
	<bean id="executorFilter" class="org.apache.mina.filter.executor.ExecutorFilter" />

	<bean id="mdcInjectionFilter" class="org.apache.mina.filter.logging.MdcInjectionFilter">
		<constructor-arg value="remoteAddress" />
	</bean>

	<bean id="codecFilter" class="org.apache.mina.filter.codec.ProtocolCodecFilter">
		<constructor-arg>
			<bean class="org.apache.mina.filter.codec.textline.TextLineCodecFactory"></bean>

			<!-- 处理对象流时候用ObjectSerializationCodecFactory -->
			<!-- <bean class="org.apache.mina.filter.codec.serialization.ObjectSerializationCodecFactory"/> 
				<bean class="com.krakentouch.server.filter.ServerCodeFactory" /> -->
		</constructor-arg>
	</bean>

	<bean id="loggingFilter" class="org.apache.mina.filter.logging.LoggingFilter" />

	<!-- The filter chain. -->
	<bean id="filterChainBuilder"
		class="org.apache.mina.core.filterchain.DefaultIoFilterChainBuilder">
		<property name="filters">
			<map>
				<entry key="executor" value-ref="executorFilter" />
				<entry key="mdcInjectionFilter" value-ref="mdcInjectionFilter" />
				<entry key="codecFilter" value-ref="codecFilter" />
				<entry key="loggingFilter" value-ref="loggingFilter" />
			</map>
		</property>
	</bean>

	<!-- creating the Socket -->
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.net.SocketAddress">
					<bean class="org.apache.mina.integration.beans.InetSocketAddressEditor" />
				</entry>
			</map>
		</property>
	</bean>

	<!-- The IoAcceptor which binds to port 18567 -->
	<bean id="ioAcceptor" class="org.apache.mina.transport.socket.nio.NioSocketAcceptor"
		init-method="bind" destroy-method="unbind">
		<property name="defaultLocalAddress" value=":18567" />
		<property name="handler" ref="serverHandler" />
		<property name="filterChainBuilder" ref="filterChainBuilder" />
		<property name="reuseAddress" value="true" />
	</bean>

	<!-- 数据源 -->
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!-- <property name="driverClassName" value="com.mysql.jdbc.Driver"/> <property 
			name="url" value="jdbc:mysql://127.0.0.1:3306/cyy"/> <property name="username" 
			value="root"/> <property name="password" value="root"/> -->
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<context:component-scan base-package="com.krakentouch.server.service" />

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="typeAliasesPackage" value="com.krakentouch.server.domain" />
		<!-- <property name="configLocation" value=""/> -->
		<!-- 该属性用来指定MyBatis的XML配置文件路径,跟Spring整合时，编写MyBatis映射文件的目的无非是配置一下typeAlias、setting之类的 
			元素。不用在其中指定数据源，或者事务处理方式。就算配置了也会被忽略。因为这些都是使用Spring中的配置 。当然如果你不打算添加typeAlias 
			之类的设置的话，你连MyBatis的配置文件都不用写，更不用配置这个属性了 -->

		<!--<property name="mapperLocations" value="src/UserMapper.xml"/> -->
		<!-- 该配置文件用来指定Mapper映射文件的位置 ，如果映射文件与相应的接口同名，且在同一路径下，那么可以不配置该选项 -->
	</bean>

	<!-- 注册Mapper方式一 <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> 
		<property name="mapperInterface" value="org.hyn.maper.UserMapper"/> <property 
		name="sqlSessionFactory" ref="sqlSessionFactory"/> </bean> -->

	<!-- 注册Mapper方式二：也可不指定特定mapper，而使用自动扫描包的方式来注册各种Mapper ，配置如下： -->
	<!-- <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"> <property 
		name="basePackage" value="com.krakentouch.server.mapper" /> </bean> -->

	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="myDataSource" />
	</bean>

	<bean name="userService" class="com.krakentouch.server.service.UserService">
		<property name="userMapper" ref="userMapper" />
	</bean>

	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.krakentouch.server.mapper.UserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<import resource="applicationContext-service-login.xml" />
	<import resource="applicationContext-service-game.xml" />
	<import resource="applicationContext-service-chatLog.xml" />

	<bean name="mainAction" class="com.krakentouch.server.action.MainAction">
		<property name="loginService" ref="loginService" />
		<property name="gameService" ref="gameService" />
		<property name="chatService" ref="chatService" />

		<property name="terminalLoginAction" ref="terminalLoginAction" />

		<property name="terminalLogoutAction" ref="terminalLogoutAction" />

		<property name="playerLoginAction" ref="playerLoginAction" />

		<property name="playerLogoutAction" ref="playerLogoutAction" />

		<property name="queryScoreAction" ref="queryScoreAction" />

		<property name="queryGameAction" ref="queryGameAction" />

		<property name="newStageAction" ref="newStageAction" />
		
		<property name="queryAllStageAction" ref="queryAllStageAction"/>

		<property name="querySeatAction" ref="querySeatAction"/>

		<property name="queryStageAction" ref="queryStageAction"/>

		<property name="joinStageAction" ref="joinStageAction"/>

		<property name="beginGameAction" ref="beginGameAction"/>

		<property name="concludeGameAction" ref="concludeGameAction"/>

		<property name="computeScoreAction" ref="computeScoreAction"/>

		<property name="closeStageAction" ref="closeStageAction"/>

		<property name="queryAllPlayerAction" ref="queryAllPlayerAction"/>
		
		<property name="queryPlayerAction" ref="queryPlayerAction"/>
		
		<property name="chatAction" ref="chatAction"/>
		
		<property name="giveGiftAction" ref="giveGiftAction"/>

	</bean>

	<!-- 物理端登录 -->
	<bean name="terminalLoginAction" class="com.krakentouch.server.action.impl.TerminalLoginActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>

	<!-- 物理端登出 -->
	<bean name="terminalLogoutAction" class="com.krakentouch.server.action.impl.TerminalLogoutActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>

	<bean name="afterPlayerLoginAction"
		class="com.krakentouch.server.interceptor.AfterPlayerLoginAction" />
	
	<!-- 用户登录 -->
	<bean name="playerLoginAction" class="com.krakentouch.server.action.impl.PlayerLoginActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>

	<!-- 用户登出 -->
	<bean name="playerLogoutAction" class="com.krakentouch.server.action.impl.PlayerLogoutActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>

	<!-- 查分 -->
	<bean name="queryScoreAction" class="com.krakentouch.server.action.impl.QueryScoreActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>

	<!-- 查游 -->
	<bean name="queryGameAction" class="com.krakentouch.server.action.impl.QueryGameActionImpl">
		<property name="gameService" ref="gameService" />
	</bean>

	<!-- 开桌 -->
	<bean name="newStageAction" class="com.krakentouch.server.action.impl.NewStageActionImpl">
		<property name="loginService" ref="loginService" />
		<property name="gameService" ref="gameService" />
	</bean>
	
	<!-- 查厅 -->
	<bean name="queryAllStageAction" class="com.krakentouch.server.action.impl.QueryAllStageActionImpl">
		<property name="loginService" ref="loginService" />
		<property name="gameService" ref="gameService" />
	</bean>
	
	<!-- 查座 -->
	<bean name="querySeatAction" class="com.krakentouch.server.action.impl.QuerySeatActionImpl">
		<property name="gameService" ref="gameService" />
	</bean>
	
	<!-- 查桌 -->
	<bean name="queryStageAction" class="com.krakentouch.server.action.impl.QueryStageActionImpl">
		<property name="gameService" ref="gameService" />
	</bean>
	
	<!-- 参桌 -->
	<bean name="joinStageAction" class="com.krakentouch.server.action.impl.JoinStageActionImpl">
		<property name="gameService" ref="gameService" />
	</bean>

	<!-- 开玩 -->
	<bean name="beginGameAction" class="com.krakentouch.server.action.impl.BeginGameActionImpl">
		<property name="gameService" ref="gameService" />
		<property name="loginService" ref="loginService" />
	</bean>

	<!-- 结束游戏 -->
	<bean name="concludeGameAction" class="com.krakentouch.server.action.impl.ConcludeGameActionImpl">
		<property name="gameService" ref="gameService" />
	</bean>
	
	<!-- 算分 -->
	<bean name="computeScoreAction" class="com.krakentouch.server.action.impl.ComputeScoreActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>
	
	<!--结分 -->
	<bean name="closeStageAction" class="com.krakentouch.server.action.impl.CloseStageActionImpl">
		<property name="loginService" ref="loginService" />
		<property name="gameService" ref="gameService" />
	</bean>
	
	<!--询众 -->
	<bean name="queryAllPlayerAction" class="com.krakentouch.server.action.impl.QueryAllPlayerActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>
	
	<!--询人 -->
	<bean name="queryPlayerAction" class="com.krakentouch.server.action.impl.QueryPlayerActionImpl">
		<property name="loginService" ref="loginService" />
	</bean>
	
	<!-- 聊天  -->
	<bean name="chatAction" class="com.krakentouch.server.action.impl.ChatActionImpl">
		<property name="chatService" ref="chatService" />
	</bean>
	
	<!-- 赠送 -->
	<bean name="giveGiftAction" class="com.krakentouch.server.action.impl.GiveGiftActionImpl">
		<property name="chatService" ref="chatService" />
		<property name="loginService" ref="loginService" />
	</bean>
	
</beans>