<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>		
	<bean name="afterPlayerLoginAction" class="com.krakentouch.server.interceptor.AfterPlayerLoginAction" >
		<property name="loginService" ref="loginService"/>
	</bean>	
</beans>