<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>		
	<bean name="afterPlayerLoginAction" class="com.krakentouch.server.interceptor.AfterPlayerLoginAction" >
		<property name="loginService" ref="loginService"/>
	</bean>	
	
	<bean name="afterPlayerLogoutAction" class="com.krakentouch.server.interceptor.AfterPlayerLogoutAction" >
		<property name="loginService" ref="loginService"/>
	</bean>

	<bean name="afterQueryAllStageAction" class="com.krakentouch.server.interceptor.AfterQueryAllStageAction" >
		<property name="loginService" ref="loginService"/>
	</bean>

	<bean name="afterJoinStageAction" class="com.krakentouch.server.interceptor.AfterJoinStageAction" >
		<property name="loginService" ref="loginService"/>
	</bean>

	<bean name="afterNewStageAction" class="com.krakentouch.server.interceptor.AfterNewStageAction" >
		<property name="loginService" ref="loginService"/>
	</bean>
	
</beans>