<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krakentouch.server.mapper.PlayerMapMapper">
	<insert id="insertPlayer" parameterType="PlayerMap">
		INSERT INTO PLAYERMAP
			(PLAYERID, DESKID, STATUS, GAMEID, LOGINTIME)
		VALUES
			(#{PlayerID}, #{DeskID}, #{Status}, #{GameID}, #{LoginTime})
		<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="ID" >
        	SELECT LAST_INSERT_ID() AS ID   
      	</selectKey>	
    </insert>
    
    <delete id="deletePlayer" parameterType="PlayerMap">
    	DELETE FROM PLAYERMAP WHERE PLAYERID = #{PlayerID}# 
    </delete>
    
    <select id="queryScore" parameterType="String" resultType="PlayerScore">
    	SELECT 
	    	PLAYERID as PlayerID,
			SCORE as Score,
			MONEY as Money,
			PROP0 as Prop0
    	FROM PLAYERSCORE WHERE PLAYERID = #{PlayerID}#
    </select>
    
    <update id="updatePlayerStatus" parameterType="PlayerMap">
    	UPDATE PLAYERMAP
    	<set>
	      <if test="Status != null">STATUS = #{Status},</if>
	      <if test="DeskID != null">DESKID=#{DeskID},</if>
	      <if test="Status != null">STATUS=#{Status},</if>
	      <if test="GameID != null">GAMEID=#{GameID},</if>
	      <if test="LogoutTime != null">LOGOUTTIME=#{LogoutTime},</if>
	      <if test="DelFlag != null">DELFLAG=#{DelFlag}</if>
    	</set>
    	WHERE PLAYERID = #{PlayerID}# and DELFLAG = 0
    </update>
    
    <update id="updatePlayerScore" parameterType="PlayerScore">
    	UPDATE PLAYERSCORE SET SCORE = #{score} WHERE PLAYERID = #{PlayerID}#
    </update>
    
    <select id="queryAllOnlinePlayer" resultType="Player">
    	SELECT
    		PLAYERID as playerID,
			GENDER as gender,
			NICKNAME as nickName,
			ICON as icon,
			GRADE as grade,
			DESKID as deskID
    	FROM PLAYERVIEW
    </select>
    
    <select id="queryPlayerInfoById" resultType="PlayerInfo" parameterType="java.lang.String">
    	SELECT
    		PLAYERID as playerID,
			GENDER as gender,
			NICKNAME as nickName,
			ICON as icon,
			GRADE as grade
    	FROM PLAYERINFO 
    	WHERE PLAYERID = #{playerId}#
    </select>
    
    <!-- 所有询众态的用户 -->
    <select id="selectAllQueryStatusPlayer" resultType="PlayerMap">
    	SELECT 
    		PLAYERID as playerId,
    		DESKID as deskId,
    		STATUS as status,
    		GAMEID as gameId
    	FROM PLAYERMAP 
    	WHERE STATUS=1
    </select>
    
	<!-- 当使用该Mybatis与Spring整合的时候，该文件必须和相应的Mapper接口文件同名，并在同一路径下 -->
</mapper> 