<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krakentouch.server.mapper.PlayerMapMapper">
	<insert id="insertPlayer" parameterType="PlayerMap">
		INSERT INTO PLAYERMAP
			(PLAYERID, DESKID, STATUS, GAMEID, LOGINTIME)
		VALUES
			(#{PlayerID}, #{DeskID}, #{Status}, #{GameID}, #{LoginTime})
		<selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="ID" >
        	SELECT LAST_INSERT_ID() AS ID   
      	</selectKey>	
    </insert>
    
    <delete id="deletePlayer" parameterType="PlayerMap">
    	DELETE FROM PLAYERMAP WHERE PLAYERID = #{PlayerID}# 
    </delete>
    
    <select id="queryScore" parameterType="java.lang.String" resultType="int">
    	SELECT SCORE FROM PLAYERSCORE WHERE PLAYERID = #{PlayerID}#
    </select>
    
    <update id="updatePlayerStatus" parameterType="PlayerMap">
    	UPDATE PLAYERMAP
    	<set>
	      <if test="Status != null">STATUS = #{Status},</if>
	      <if test="DeskID != null">DESKID=#{DeskID},</if>
	      <if test="Status != null">STATUS=#{Status},</if>
	      <if test="GameID != null">GAMEID=#{GameID},</if>
	      <if test="LogoutTime != null">LOGOUTTIME=#{LogoutTime},</if>
	      <if test="DelFlag != null">DELFLAG=#{DelFlag}</if>
    	</set>
    	WHERE PLAYERID = #{PlayerID}# and DELFLAG = 0
    </update>
    
    <update id="updatePlayerScore" parameterType="PlayerScore">
    	UPDATE PLAYERSCORE SET SCORE = #{score} WHERE PLAYERID = #{PlayerID}#
    </update>
	<!-- 当使用该Mybatis与Spring整合的时候，该文件必须和相应的Mapper接口文件同名，并在同一路径下 -->
</mapper> 