<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.krakentouch.server.mapper.StageMapMapper">
	<insert id="insertStageMap" parameterType="StageMap">
		INSERT INTO STAGEMAP
			(STATUS, HOSTINDEX, GAMEID)
		VALUES
			(#{Status}, #{HostIndex}, #{GameID}) 
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="StageSN" >
        	SELECT LAST_INSERT_ID() AS StageSN   
      	</selectKey>	
    </insert>
    
    <select id="queryStageMapByGameId" resultType="StageMap" parameterType="java.lang.String">
    	SELECT 
    		STAGESN as StageSN, 
    		STATUS Status, 
    		HOSTINDEX as HostIndex, 
    		GAMEID as GameID
    		FROM STAGEMAP 
    	WHERE GAMEID = #{gameId}
    </select>
    
    <delete id="deleteStageMap" parameterType="StageMap">
    	DELETE FROM STAGEMAP WHERE STAGESN = #{StageSN}
    </delete>
</mapper> 